<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: navy; color: lawngreen">
    <form action="/auth/signout" method="GET">
    <button type="submit">Signout </button>
    </form>
    <h2 style="color:thistle">NGINX logs view dashboard</h2>
    
    <% if(entries && entries.length >0) { %>
        <p style="color: orange"> To filter logs by IP or/and date. Please go to dashboard/filter? and pass queries.</p>
        <h3 style="color:violet">NGINX LOGS:</h3>
        <ol>
            <% entries.forEach((entry) =>{ %>
                <li><%= entry %></li>
            <% }); %>
        </ol>
        <% } else { %>
           <p>No results to show.</p>
        <% } %>
</body>
</html>